# Tuning and Optimizing Neural Networks - Lab

## Introduction

Now that you've practiced regularization, initialization, and optimization techniques, its time to synthesize these concepts into a cohesive modeling pipeline.  

With this pipeline, you will not only fit an initial model but also attempt to improve it. Your final model selection will pertain to the test metrics across these models. This will more naturally simulate a problem you might be faced with in practice, and the various modeling decisions you are apt to encounter along the way.  

Recall that our end objective is to achieve a balance between overfitting and underfitting. You've seen the bias variance trade-off, and the role of regularization in order to reduce overfitting on training data and improving generalization to new cases. Common frameworks for such a procedure include train/validate/test methodology when data is plentiful, and K-folds cross-validation for smaller, more limited datasets. In this lab, you'll perform the latter, as the dataset in question is fairly limited. 

## Objectives

You will be able to:

* Apply normalization as a preprocessing technique 
* Implement a K-folds cross validation modeling pipeline for deep learning models 
* Apply regularization techniques to improve your model's performance

## Load the data

First, run the following cell to import all the neccessary libraries and classes you will need in this lab.

In [68]:
# Necessary libraries and classes
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_predict
from keras import models
from keras import layers
from keras import regularizers
from keras.wrappers.scikit_learn import KerasRegressor

In this lab you'll be working with the *The Lending Club* data. 

- Import the data available in the file `'loan_final.csv'` 
- Drop rows with missing values in the `'total_pymnt'` column (this is your target column) 
- Print the first five rows of the data 
- Print the dimensions of the data

In [2]:
# Import the data
data = pd.read_csv('loan_final.csv')
data.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,total_acc,total_pymnt,application_type
0,5000.0,4975.0,36 months,10.65%,162.87,B,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,AZ,9.0,5863.155187,Individual
1,2500.0,2500.0,60 months,15.27%,59.83,C,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,GA,4.0,1014.530000,Individual
2,2400.0,2400.0,36 months,15.96%,84.33,C,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,IL,10.0,3005.666844,Individual
3,10000.0,10000.0,36 months,13.49%,339.31,C,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,CA,37.0,12231.890000,Individual
4,3000.0,3000.0,60 months,12.69%,67.79,B,1 year,RENT,80000.0,Source Verified,Fully Paid,other,OR,38.0,4066.908161,Individual

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_amnt            42535 non-null  float64
 1   funded_amnt_inv      42535 non-null  float64
 2   term                 42535 non-null  object
 3   int_rate             42535 non-null  object
 4   installment          42535 non-null  float64
 5   grade                42535 non-null  object
 6   emp_length           41423 non-null  object
 7   home_ownership       42535 non-null  object
 8   annual_inc           42531 non-null  float64
 9   verification_status  42535 non-null  object
 10  loan_status          42535 non-null  object
 11  purpose              42535 non-null  object
 12  addr_state           42535 non-null  object
 13  total_acc            42506 non-null  float64
 14  total_pymnt          42535 non-null  float64
 15  application_type     42535 non-null  object
dtypes: float64(6), object(10)
memory usage: 5.2+ MB

In [11]:
# Drop rows with no target value
data.dropna(subset=['total_pymnt'], inplace=True)

# Print the first five rows
data.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,total_acc,total_pymnt,application_type
0,5000.0,4975.0,36 months,10.65%,162.87,B,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,AZ,9.0,5863.155187,Individual
1,2500.0,2500.0,60 months,15.27%,59.83,C,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,GA,4.0,1014.530000,Individual
2,2400.0,2400.0,36 months,15.96%,84.33,C,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,IL,10.0,3005.666844,Individual
3,10000.0,10000.0,36 months,13.49%,339.31,C,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,CA,37.0,12231.890000,Individual
4,3000.0,3000.0,60 months,12.69%,67.79,B,1 year,RENT,80000.0,Source Verified,Fully Paid,other,OR,38.0,4066.908161,Individual

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42535 entries, 0 to 42537
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_amnt            42535 non-null  float64
 1   funded_amnt_inv      42535 non-null  float64
 2   term                 42535 non-null  object
 3   int_rate             42535 non-null  object
 4   installment          42535 non-null  float64
 5   grade                42535 non-null  object
 6   emp_length           41423 non-null  object
 7   home_ownership       42535 non-null  object
 8   annual_inc           42531 non-null  float64
 9   verification_status  42535 non-null  object
 10  loan_status          42535 non-null  object
 11  purpose              42535 non-null  object
 12  addr_state           42535 non-null  object
 13  total_acc            42506 non-null  float64
 14  total_pymnt          42535 non-null  float64
 15  application_type     42535 non-null  object
dtypes: float64(6), object(10)
memory usage: 5.5+ MB

In [13]:
# Print the dimensions of data 
data.shape

(42535, 16)

## Generating a Hold Out Test Set

While we will be using K-fold cross validation to select an optimal model, we still want a final hold out test set that is completely independent of any modeling decisions. As such, pull out a sample of 30% of the total available data. For consistency of results, use random seed 42.

In [14]:
# Features to build the model
features = ['loan_amnt', 'funded_amnt_inv', 'installment', 'annual_inc', 
            'home_ownership', 'verification_status', 'emp_length']

X = data[features]
y = data[['total_pymnt']]

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=42)

In [16]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(29774, 7) (29774, 1)
(12761, 7) (12761, 1)

## Preprocessing (Numerical features) 

- Fill all missing values in numeric features with their respective means 
- Standardize all the numeric features  
- Convert the final results into DataFrames

In [17]:
# Select continuous features
cont_features = ['loan_amnt', 'funded_amnt_inv', 'installment', 'annual_inc']

X_train_cont = X_train.loc[:, cont_features]
X_test_cont = X_test.loc[:, cont_features]

In [20]:
# Instantiate SimpleImputer - fill the missing values with the mean
si = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit and transform the training data
X_train_imputed = si.fit_transform(X_train_cont)

# Transform test data
X_test_imputed = si.transform(X_test_cont)

In [52]:
# Instantiate StandardScaler
ss_X = StandardScaler()

# Fit and transform the training data
X_train_scaled = pd.DataFrame(ss_X.fit_transform(X_train_imputed),
                              columns=X_train_cont.columns)

# Transform test data
X_test_scaled = pd.DataFrame(ss_X.fit_transform(X_test_imputed),
                             columns=X_test_cont.columns)

In [28]:
X_train_cont.head()

       loan_amnt  funded_amnt_inv  installment  annual_inc
9153     18225.0     13650.000000       320.35     48383.0
38896    24000.0      7774.992364       492.76    105900.0
1429      7500.0      7500.000000       257.32     60000.0
15572     4800.0      4800.000000       105.55     65000.0
18314    35000.0     35000.000000      1173.91     90000.0

In [53]:
X_train_scaled.head()

   loan_amnt  funded_amnt_inv  installment  annual_inc
0   0.961300         0.487971    -0.013952   -0.326925
1   1.741417        -0.336399     0.812258    0.582909
2  -0.487489        -0.374986    -0.316000   -0.143161
3  -0.852220        -0.753845    -1.043301   -0.064069
4   3.227354         3.483765     4.076415    0.331394

## Preprocessing (Categorical features) 

- Fill all missing values in categorical features with the string `'missing'` 
- One-hot encode all categorical features 
- Convert the final results into DataFrames

In [44]:
# Select only the categorical features
cat_features = ['home_ownership', 'verification_status', 'emp_length']
X_train_cat = X_train.loc[:, cat_features]
X_test_cat = X_test.loc[:, cat_features]

# Fill missing values with the string 'missing'
si_cat = SimpleImputer(missing_values=np.nan, strategy='constant',
                       fill_value='missing')
X_train_cat_imputed = si_cat.fit_transform(X_train_cat)

X_test_cat_imputed = si_cat.transform(X_test_cat)

In [47]:
# OneHotEncode categorical variables
ohe = OneHotEncoder()

# Transform training and test sets
X_train_ohe = ohe.fit_transform(X_train_cat_imputed)
X_test_ohe = ohe.transform(X_test_cat_imputed)

# Get all categorical feature names
cat_columns = ohe.get_feature_names(X_train_cat.columns)

In [61]:
len(cat_columns)

20

In [49]:
# Fit and transform the training data
X_train_categorical = pd.DataFrame(X_train_ohe.todense(), columns=cat_columns)

# Transform test data
X_test_categorical = pd.DataFrame(X_test_ohe.todense(), columns=cat_columns)

Run the below cell to combine the numeric and categorical features.

In [55]:
# Combine continuous and categorical feature DataFrames
X_train_all = pd.concat([X_train_scaled, X_train_categorical], axis=1)
X_test_all = pd.concat([X_test_scaled, X_test_categorical], axis=1)

# Number of input features
n_features = X_train_all.shape[1]

In [62]:
X_train_all.shape

(29774, 24)

- Standardize the target DataFrames (`y_train` and `y_test`)

In [63]:
# Instantiate StandardScaler
ss_y = StandardScaler()

# Fit and transform Y (train)
y_train_scaled = ss_y.fit_transform(y_train)

# Transform test Y (test)
y_test_scaled = ss_y.transform(y_test)

## Define a K-fold Cross Validation Methodology

Now that your have a complete holdout test set, you will perform k-fold cross-validation using the following steps: 

- Create a function that returns a compiled deep learning model 
- Use the wrapper function `KerasRegressor()` that defines how these folds are trained 
- Call the `cross_val_predict()` function to perform k-fold cross-validation 

In the cell below, we've defined a baseline model that returns a compiled Keras models.

In [64]:
# Define a function that returns a compiled Keras model 
def create_baseline_model():
    
    # Initialize model
    model = models.Sequential()

    # First hidden layer
    model.add(layers.Dense(10, activation='relu', input_shape=(n_features,)))

    # Second hidden layer
    model.add(layers.Dense(5, activation='relu'))

    # Output layer
    model.add(layers.Dense(1, activation='linear'))

    # Compile the model
    model.compile(optimizer='SGD', 
                  loss='mse',  
                  metrics=['mse']) 
    
    # Return the compiled model
    return model

Wrap `create_baseline_model` inside a call to `KerasRegressor()`, and: 

- Train for 150 epochs 
- Set the batch size to 256 

> NOTE: Refer to the [documentation](https://keras.io/scikit-learn-api/) to learn about `KerasRegressor()`.

In [73]:
# Wrap the above function for use in cross-validation
keras_wrapper_1 = KerasRegressor(create_baseline_model, 
                                 epochs=150,
                                 batch_size=256,
                                 verbose=0)

Use `cross_val_predict()` to generate cross-validated predictions with: 
- 5-fold cv 
- scaled input (`X_train_all`) and output (`y_train_scaled`)

In [74]:
# ⏰ This cell may take several mintes to run
# Generate cross-validated predictions
np.random.seed(123)
# kfold = KFold(n_splits=5, random_state=123)
cv_baseline_preds = cross_val_predict(keras_wrapper_1, 
                                      X_train_all, y_train_scaled,
                                      cv=5)

- Find the RMSE on train data

In [75]:
# RMSE on train data (scaled)
np.sqrt(mean_squared_error(y_train_scaled, cv_baseline_preds))

0.44011282833953724

- Convert the scaled predictions back to original scale 
- Calculate RMSE in the original units with `y_train` and `baseline_preds`

In [76]:
# Convert the predictions back to original scale
baseline_preds = ss_y.inverse_transform(cv_baseline_preds)

# RMSE on train data (original scale)
np.sqrt(mean_squared_error(y_train, baseline_preds))

4008.7850900031735

In [77]:
y_train.describe()

        total_pymnt
count  29774.000000
mean   12016.239947
std     9108.692472
min        0.000000
25%     5439.466797
50%     9680.714744
75%    16435.163950
max    58563.679930

## Intentionally Overfitting a Model

Now that you've developed a baseline model, its time to intentionally overfit a model. To overfit a model, you can:
* Add layers
* Make the layers bigger
* Increase the number of training epochs

Again, be careful here. Think about the limitations of your resources, both in terms of your computers specs and how much time and patience you have to let the process run. Also keep in mind that you will then be regularizing these overfit models, meaning another round of experiments and more time and resources.

In [125]:
# Define a function that returns a compiled Keras model 
def create_bigger_model():
    
    # Initialize model
    model = models.Sequential()

    # First hidden layer
    model.add(layers.Dense(12, activation='relu', input_shape=(n_features,)))
    # Second hidden layer
    model.add(layers.Dense(6, activation='relu'))
    # Third hidden layer
    model.add(layers.Dense(3, activation='relu'))

    # Output layer
    model.add(layers.Dense(1, activation='linear'))

    # Compile the model
    model.compile(optimizer='SGD', 
                  loss='mse',  
                  metrics=['mse']) 
    
    # Return the compiled model
    return model

In [126]:
# Wrap the above function for use in cross-validation
keras_wrapper_2 = KerasRegressor(build_fn=create_bigger_model,
                                 epochs=300,
                                 batch_size=256,
                                 verbose=0)

In [127]:
# ⏰ This cell may take several mintes to run
# Generate cross-validated predictions
np.random.seed(123)
cv_bigger_model_preds = cross_val_predict(keras_wrapper_2,
                                          X_train_all, y_train_scaled,
                                          cv=5)

In [128]:
# RMSE on train data (scaled)
np.sqrt(mean_squared_error(y_train_scaled, cv_bigger_model_preds))

0.43908991466974007

## Regularizing the Model to Achieve Balance  

Now that you have a powerful model (albeit an overfit one), we can now increase the generalization of the model by using some of the regularization techniques we discussed. Some options you have to try include:  
* Adding dropout
* Adding L1/L2 regularization
* Altering the layer architecture (add or remove layers similar to above)  

This process will be constrained by time and resources. Be sure to test at least two different methodologies, such as dropout and L2 regularization. If you have the time, feel free to continue experimenting.

In [129]:
# Define a function that returns a compiled Keras model 
def create_regularized_model():
    lambda_coeff = 0.005
    model = models.Sequential([
        layers.Dense(12, activation='relu',
                     input_shape=(n_features,),
                     kernel_regularizer=regularizers.L2(lambda_coeff)),
        layers.Dropout(0.3),
        layers.Dense(6, activation='relu',
                     kernel_regularizer=regularizers.L2(lambda_coeff)),
        layers.Dropout(0.3),
        layers.Dense(3, activation='relu',
                     kernel_regularizer=regularizers.L2(lambda_coeff)),
        layers.Dropout(0.3),
        layers.Dense(1, activation='linear',
                     kernel_regularizer=regularizers.L2(lambda_coeff))
    ])
    
    model.compile(optimizer='SGD',
                  loss='mse',
                  metrics=['mse'])
    return model

In [130]:
# Wrap the above function for use in cross-validation
keras_wrapper_3 = KerasRegressor(build_fn=create_regularized_model,
                                 epochs=150,
                                 batch_size=256,
                                 verbose=0)

In [131]:
# ⏰ This cell may take several mintes to run
# Generate cross-validated predictions
np.random.seed(123)
cv_dropout_preds = cross_val_predict(keras_wrapper_3,
                                     X_train_all, y_train_scaled,
                                     cv=5)

In [132]:
# RMSE on train data (scaled)
np.sqrt(mean_squared_error(y_train_scaled, cv_dropout_preds))

0.58279810229213

## Model using Adam Optimizer

In [133]:
# Define a function that returns a compiled Keras model 
def create_bigger_model_adam():
    
    # Initialize model
    model = models.Sequential()

    # First hidden layer
    model.add(layers.Dense(12, activation='relu', input_shape=(n_features,)))
    # Second hidden layer
    model.add(layers.Dense(12, activation='relu'))
    # Third hidden layer
    model.add(layers.Dense(6, activation='relu'))
    # Forth hidden layer
    model.add(layers.Dense(3, activation='relu'))

    # Output layer
    model.add(layers.Dense(1, activation='linear'))

    # Compile the model
    model.compile(optimizer='adam', 
                  loss='mse',  
                  metrics=['mse']) 
    
    # Return the compiled model
    return model

In [134]:
# Wrap the above function for use in cross-validation
keras_wrapper_4 = KerasRegressor(build_fn=create_bigger_model_adam,
                                 epochs=150,
                                 batch_size=256,
                                 verbose=0)

In [135]:
# Generate cross-validated predictions
np.random.seed(123)
model_4_preds = cross_val_predict(keras_wrapper_4,
                                  X_train_all, y_train_scaled,
                                  cv=5)

In [136]:
# RMSE on train data (scaled)
np.sqrt(mean_squared_error(y_train_scaled, model_4_preds))

0.4395538806833283

## Final Evaluation

Now that you have selected a network architecture, tested various regularization procedures and tuned hyperparameters via a validation methodology, it is time to evaluate your final model on the test set. Fit the model using all of the training data using the architecture and hyperparameters that were most effective in your experiments above. Afterwards, measure the overall performance on the hold-out test data which has been left untouched (and hasn't leaked any data into the modeling process)!

In [ ]:
# Among 3 models, the last one keras_wrapper_2 with 3 layers still has the lowest 
# RMSE. Therefore, I'll go with that model.

In [ ]:
# ⏰ This cell may take several mintes to run

In [141]:
# Create model
final_model = create_bigger_model()

In [142]:
# Fit model to training data
final_model.fit(X_train_all, y_train_scaled,
                epochs=150, batch_size=256,
                verbose=0)

In [144]:
# Make scaled predictions
y_test_pred = final_model.predict(X_test_all)

In [145]:
# Calculate RMSE for scaled test data
np.sqrt(mean_squared_error(y_test_scaled, y_test_pred))

0.4234096294273555

In [147]:
# Convert the predictions back to original scale
model_2_preds = ss_y.inverse_transform(y_test_pred)

# RMSE on train data (original scale)
np.sqrt(mean_squared_error(y_test, model_2_preds))

3856.6433330380487

## Summary

In this lab, you investigated some data from *The Lending Club* in a complete data science pipeline to build neural networks with good performance. You began with reserving a hold-out set for testing which never was touched during the modeling phase. From there, you implemented a k-fold cross validation methodology in order to assess an initial baseline model and various regularization methods.